h1 {
	text-align:center;
}

li {
	display:inline;
	padding: 20px;
}

#container {
	background: url("img/2background.jpg");
}

.antras_stulpelis {
	float:right;
	width:50%;
}

.pirmas_stulpelis {
	float:left;
	width:50%;
}

#sidebar {
	height:100%;
	background: url("img/1background.png");
}

#footer {
	clear:both;
	text-align: center;
	padding-top:20px;
}

/** BUTTONS **/

.button {
	border-radius:25px;
	background: linear-gradient(red, yellow);
	text-shadow:2px 2px 5px #FF0000;
}

#last {
	    transform: rotate(5deg);
}

/** COLORED BOXES **/

#first {
	background:black;
	float:left;
	width:3%;
	height:3%;
}

#second {
	background:red;
	float:left;
	width:3%;
	height:3%;
}

#third {
	background:yellow;
	float:left;
	width:3%;
	height:3%;
}

#fourth {
	background:blue;
	float:left;
	width:3%;
	height:3%;
}

#fifth {
	background:violet;
	float:left;
	width:3%;
	height:3%;
}

#sixth {
	background:green;
	float:left;
	width:3%;
	height:3%;
}

#seventh {
	background:purple;
	float:left;
	width:3%;
	height:3%;
}

#eight {
	background:grey;
	float:left;
	width:3%;
	height:3%;
}

#ninth {
	background:#3d3d3d;
	float:left;
	width:3%;
	height:3%;
}

#tenth {
	background:#6f6f6f;
	float:left;
	width:3%;
	height:3%;
}

/** ANIMATIONS **/

#first {
	transition: top 0.3s;
}

.animation1 {
	top: -30px;
}